<style>
	.panel_requested_content_detail .header {
		margin-bottom: 10px;
		border-bottom: 1px solid #eee;
	}
	
	.panel_requested_content_detail .header h4 {
		text-align: center;
	}
</style>
<div class="header">
	<h4>【重要】这是一条很重要的公告</h4>
	<p>
		<span>麻花 发布于 2016年06月13日18：07</span> &nbsp;&nbsp;&nbsp;&nbsp;
		<span>公示范围：软件部... (1周)</span>
	</p>
</div>
<div>
	本公司及董事会全体成员保证公告内容的真实、准确和完整，没有虚假记载、误导性陈述或者重大遗漏。 特别提示： 1、本次《股权转让意向书》的签署，是意向各方对目前交易意图的陈述，旨 在表达各方股权转让和受让的意愿及初步商洽的结果，并不构成具有约束力的合同、承诺或协议。本次股权转让具体事宜尚需根据审计或评估相关结果等作进一步协商谈判，并拟定正式股权转让协议，存在正式协议与意向书有所差异的可能。 2、本次《股权转让意向书》签署后，公司将根据项目磋商及进展情况，按照《深圳证券交易所股票上市规则》等法律法规及《公司章程》的相关规定，提请公司董事会或股东大会等内部决策机构审议批准后签署正式股权转让协议，并依法及时履行各项信息披露义务。 3、本次股权转让不构成关联交易，也不构成《上市公司重大资产重组管理办法》规定的重大资产重组。 4、本次股权转让最终能否达成尚存在不确定性，或存在转让方案调整的可能，敬请投资者关注本次股权转让事项的进展公告，并注意投资风险。
</div>