<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8" />
		<title>资讯管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../resources/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="../resources/css/jquery.gritter.css" />
		<link rel="stylesheet" href="../resources/css/ui.jqgrid.css" />
		<link rel="stylesheet" href="../resources/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../resources/css/main-page.css" />
		<style>
			.info-urls-container .info_urls,
			.info-filename span {
				border: none;
				border-radius: 0;
				border-bottom: 1px dashed #eee;
				margin-left: 80px;
				padding-right: 20px;
				padding-left: 5px;
				color: #999;
				font-size: 12px;
			}
			.ke-content li{
				list-style: none;
			}
			.modal-body .form-inline label {
				text-align: right;
			}
			
			.modal-body {
				font-size: 14px;
				color: #666;
			}
			
			.btn-upload-anx,
			.info-btnaddurl,
			.btn-upload-anx:hover,
			.info-btnaddurl:hover {
				color: #009ed8;
				font-size: 12px;
				cursor: pointer;
				text-decoration: underline;
			}
			
			.form-control,
			select  {
				border-radius: 0;
			}
			
			.ke-dialog-body input{
				padding: 5px 5px!important;
				height: auto!important;
			}
		</style>
	</head>

	<body>
		<div class="page-container page-information">
			<div class="content">
				<div class="search">

				</div>
				<div class="role-list">
					<table id="grid-table" class="grid-module">
					</table>
					<div id="grid-pager">
					</div>
				</div>
			</div>
		</div>
		<div class="pnl-info hide">
			<form class="form-horizontal model-info info-fm">
				<div class="form-group form-inline">
					<label class="input-flag">资讯类型：</label>
					<select class="form-control form-control-quality" placeholder="资讯类型" bind="information_type">
						<option value="" selected="selected">选择资讯类型</option>
						<!--<option value="102103102">102103102</option>
						<option value="类型B">类型B</option>
						<option value="类型C">类型C</option>-->
					</select>
				</div>
				<div class="form-group form-inline">
					<label class="input-flag">标题：</label>
					<input type="text" class="form-control" placeholder="标题" bind="information_title" nulltip="标题">
				</div>
				<div class="form-group form-inline">
					<label class="input-flag">上传人：</label>
					<input type="text" class="form-control uploadman" disabled="disabled">
				</div>
				<div class="form-group form-inline">
					<label class="input-flag" style="vertical-align: top;">正文：</label>
					<textarea class="form-control form-control-content" style="width: 400px;" bind="information_content_html"></textarea>
				</div>
				<div class="form-group form-inline">
					<label>附件：</label>
					<a class="btn-upload-anx" />添加附件</a>
					<p class="upload"></p>
				</div>
				<div class="form-group form-inline hide">
					<label>网址：</label>
					<a class="info-btnaddurl" />添加网址</a>
					<!--<input type="text" class="form-control info-addurl" placeholder="添加网址" />-->

				</div>
				<hr />
				<div class="form-group form-inline info-btn">
					<input type="button" value="保存" class="btn btn-danger def-btn-danger btn-info-save" status='0' />
					<!--<input type="button" value="保存并发布" class="btn btn-default btn-sm btn-info-save" status='1' />-->
					<input type="button" value="取消" class="btn btn-primary def-btn-primary info-btnCancel" data-dismiss="modal" />
				</div>
			</form>
		</div>
		<div class="info-Onrelease hide">
			<div>确认发布资讯？</div>
		</div>

		<div class="pnl-modules hide">
			<form class="form-horizontal model-modules">
				<div class="form-group form-inline">
					<table border="0">
						<tr>
							<td style="width: 90px; text-align: center; border-right: 1px solid #eee;" valign="top">
								模块
							</td>
							<td style=" padding-left: 15px;">
								<div class="tree tree-selectable treeMenu">
								</div>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		<div id="grid-footer-container" class="hide">
			<!-- -->
			<a class="btn btn-sm btn-info def-btn-info info-addiinfo" onclick="openModelInfo('add');" role-auth="saas/companies/0/manage_informations|post"><i class="fa fa-plus"></i> 添加资讯</a>
			<a class="btn btn-sm btn-danger def-btn-info" onclick="openModelInfo('update')" role-auth="saas/companies/0/manage_informations/0|put" enable-on="singleselect" enable-tip="多选时不能进行编辑操作。"><i class="fa fa-cog"></i> 编辑</a>
			<a class="btn btn-sm btn-info def-btn-info" onclick="preview();" role-auth="saas/companies/0/manage_informations|post" enable-on="singleselect" enable-tip="多选时不能进行编辑操作。"><i class="fa fa-eye" aria-hidden="true"></i> 预览</a>
			<a class="btn btn-sm btn-danger def-btn-info" onclick="infoOnrelease();" role-auth="saas/companies/0/manage_informations/status|put"><i class="fa fa-edit"></i> 发布</a>
			<a class="btn btn-sm btn-danger def-btn-danger" onclick="UnShelve();" role-auth="saas/companies/0/manage_informations/status|put"><i class="fa fa-lock"></i> 取消发布</a>
			<a class="btn btn-sm btn-danger def-btn-danger" onclick="deleteModels();" role-auth="saas/companies/0/manage_informations/status|put"><i class="fa fa-trash"></i> 删除</a>
		</div>
		<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
		<script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../resources/js/jquery.gritter.min.js"></script>
		<script type="text/javascript" src="../resources/js/jquery.jqGrid.min.js"></script>
		<script type="text/javascript" src="../resources/js/grid.locale-zh.js"></script>
		<script type="text/javascript" src="../resources/kindeditor/kindeditor-min.js"></script>
		<script type="text/javascript" src="../resources/kindeditor/zh-CN.js"></script>
		<script type="text/javascript" src="../resources/upload/plupload.full.min.js"></script>
		<script type="text/javascript" src="../resources/js/sortable.js"></script>
		<script type="text/javascript" src="../resources/js/customize/approval.js"></script>
		<script type="text/javascript" src="../resources/js/main.min.js"></script>
		<script type="text/javascript">
			var grid_selector = "#grid-table";
			var pager_selector = "#grid-pager";
			var modulesJSON = [];
			var infoUrlForAdd = BSAPIURL + "/companies/" + COMPANYID + "/manage_informations";
			var infoUrlStatusList = BSAPIURL + "/companies/" + COMPANYID + "/manage_informations/status";
			var infoSearchsUrl = BSAPIURL + "/companies/" + COMPANYID + "/informations";
			var infoApprovalUrl = BSAPIURL + "/companies/" + COMPANYID + "/manage_informations/{id}/approval";
			var infoGrid;
			var KEditor, editor;
			var InformationType = [];
			var documentTypeJSON4Search = [];
			$(document).ready(function() {

				//加载资讯类型列表
				$.loadZXLXData(function(zxlxData) {
					InformationType = zxlxData;
					documentTypeJSON4Search.push({
						key: "全部",
						value: ""
					});
					for(var s in InformationType) {
						documentTypeJSON4Search.push({
							key: InformationType[s].code_name,
							value: InformationType[s].code_tree
						});
					}
					$.initSearchControls4TagMode({
						auto: true,
						url: infoUrlForAdd,
						grid: "#grid-table",
						container: ".search",
						key_name: "search_key",
						key_placeholder: "请输入资讯标题进行查找",
						onChange: function(selectTags) {},
						groups: [{
							name: "information_type_arr",
							text: "资讯类型",
							items: documentTypeJSON4Search
						}, {
							name: "information_status_arr",
							text: "资讯状态",
							items: [ {
								key: "未发布",
								value: "0"
							}, {
								key: "审批中",
								value: "1"
							}, {
								key: "发布中",
								value: "2"
							}, {
								key: "审批未通过",
								value: "3"
							}, {
								key: "已下架",
								value: "4"
							}]
						}]
					});
				});

				//token
				$.token();
				//grid
				//122 = pager height 55 + table header 37 + body padding 10 + content margin-top 10;
				var gridHeight = $(window).height() - $(".search").outerHeight(true) - 140;
				//alert($(".remark").height());
				var colNames = ['', '', '', '', '', '标题', '类型', '状态', '更新时间', '发布时间'];
				var colModel = [{
					name: 'id',
					index: 'id',
					hidden: true,
					formatter: function(cellvalue, options, rowObject) {
						return rowObject.information_id;
					}
				}, {
					name: 'information_status',
					index: 'information_status',
					hidden: true
				}, {
					name: 'information_type',
					index: 'information_type',
					hidden: true
				}, {
					name: 'information_title',
					index: 'information_title',
					hidden: true
				}, {
					name: 'information_content_html',
					index: 'information_content_html',
					hidden: true
				}, {
					name: '__information_title',
					index: '__information_title',
					sortable: true,
					formatter: function(cellvalue, options, rowObject) {
						try {
							var isAddClickText = "openModelInfo(\"update\",'" + rowObject.information_id + "')";
							if(rowObject.information_status == 1 || rowObject.information_status == 2) { //|| rowObject.information_status == 4) {
								isAddClickText = "openNewPage('" + rowObject.information_id + "')";
							}
							return "<a href='javascript:;' onclick=" + isAddClickText + " role-auth1=\"os/roles/0|put\" role-auth1-tip=\"你无权限修改信息。\">" + rowObject.information_title + "</a>";
						} catch(e) {
							return '';
						}
					}
				}, {
					name: 'information_type_cn',
					index: 'information_type_cn',
					sortable: true,

				}, {
					name: 'information_status_cn',
					sortable: true,
					formatter: function(cellvalue, options, rowObject) {
						try {
							var isAddClickText = "<a href=\"javascript:;\" onclick=\"openApprovalRecordPop('" + rowObject.approval_session_id + "',true,function(){$(grid_selector).reloadGrid();});\">" + rowObject.information_status_cn + "</a>";
							if(rowObject.information_status == 2 || rowObject.information_status == 4 || rowObject.information_status == 0) {
								isAddClickText = rowObject.information_status_cn;
							}
							return isAddClickText;
						} catch(e) {
							return '';
						}
					}
				}, {
					name: 'information_update_time_cn',
					index: 'information_update_time_cn',
					sortable: false,
					formatter: function(cellvalue, options, rowObject) {
						try {
							return cellvalue; //$.convertToDate(cellvalue).Format("yyyy-MM-dd");
						} catch(e) {
							return '';
						}
					}
				}, {
					name: 'information_publish_time_cn',
					index: 'information_publish_time_cn',
					sortable: false,
					formatter: function(cellvalue, options, rowObject) {
						try {
							return cellvalue; //$.convertToDate(cellvalue).Format("yyyy-MM-dd");
						} catch(e) {
							return '';
						}
					}
				}];
				infoGrid = $(grid_selector).initJqGrid({
					grid_selector: grid_selector,
					pager: pager_selector,
					footerBtnContainer: "#grid-footer-container",
					url: infoUrlForAdd+"?sidx=information_update_time",
					colNames: colNames,
					colModel: colModel,
					storeRowDataInCache: true,
					height: gridHeight,
					sortorder: "desc"
				});
				KindEditor.ready(function(K) {
					KEditor = K;
				});
			});
			
			//跳转到咨询详情
			function openNewPage(infoId) {
				parent.openTab("资讯详情", "views/information-details.html?id=" + infoId);
			}
			//add and update
			function openModelInfo(action, id) {
				if(action == "update" && (!$(infoGrid).isSelectedRowForjqGrid() && !id)) {
					$.showErrorGritter("请先选择要编辑的资讯。");
					return false;
				}
				var rowData = {};
				if(action == "update") {
					rowData = $(infoGrid).getRowData4JqGrid("id", id);
					id = (id ? id : rowData.information_id)
					console.log(rowData);
					if(rowData.information_status == 1 || rowData.information_status == 2) {
						$.showErrorGritter("该状态的资讯不能修改!");
						return false;
					}
				}
				var actionText = (action == "add" ? "添加" : "修改");
				var modalId = $.modal({
					showFooter: false
				}).show(actionText + "资讯", ".pnl-info",
					function(modal) {}
				);
				var formContainer = "#" + modalId + " .model-info";
				var infoController = new Controller(formContainer);
				//初始化资讯类型
				//$(".form-control-quality option").remove();
				var informationTypeOptions = "";
				for(var s in InformationType) {
					informationTypeOptions += "<option value=" + InformationType[s].code_tree + ">" + InformationType[s].code_name + "</option>";
				}
				$(formContainer + " .form-control-quality").append(informationTypeOptions);
				//初始化编辑器
				initializEeditor(modalId);
				if(action == "update") {
					//展示正文，附件
					editor.html(rowData.information_content_html);
					loadInformationAccessory(modalId, id);

				}
				$(formContainer + " .uploadman").val($.cookie("_u_name")); //创建人名字
				infoController.set(rowData);
				var uploadedAnxArr = [];
				//上传附件
				uploadAccessory(formContainer);
				//添加网址
				$(formContainer + " .info-btnaddurl").click(function() {
					var urlDom = $("<p class='info-urls-container close-icon-container'><input type=\"text\" class=\"form-control info_urls\" placeholder=\"添加网址\" /><img class='close-icon' src='../resources/images/filter-close.png' onclick='$(this).parent().remove()'/><p>");
					$(formContainer + " .info-btnaddurl").parent().append(urlDom);
					/**/
				});
				//保存提交验证发布---编辑
				if(action == "update") {
					$(formContainer + " .btn-info-save").click(function() {
						//区别保存发布与不发布。1为发布， 2为不发布s
						var status = $(this).attr("status");
						if(!inputValidateForGritter(formContainer)) {
							return false;
						}
						$(formContainer + " .form-control-quality").trigger("change");
						$.ajaxPut(infoUrlForAdd + "/" + id, makeData(status), function(response) {
							postData(response, status);

						});
					});
				} else {
					//添加
					$(formContainer + " .btn-info-save").click(function() {
						//区别保存发布与不发布。1为发布，0为不发布
						var status = $(this).attr("status");
						if(!inputValidateForGritter(formContainer)) {
							return false;
						}
						$(formContainer + " .form-control-quality").trigger("change");
						console.log(makeData(status))
						$.ajaxPost(infoUrlForAdd, makeData(status), function(response) {
							postData(response, status);
						});
					});
				}
				//组装数据
				function makeData(status) {
					var info_accessory = [];
					var info_urls = [];
					var infoData = infoController.getJSON();
					//验证正文非空
					$(".ke-container a").each(function() {
						$(this).attr("target", "_blank");
					});
					infoData.information_content_html = editor.html();
					if(!infoData.information_content_html) {
						$.showErrorGritter("资讯内容不能为空，请录入内容。");
						return false;
					}
					//获取附件路径数组
					$(formContainer + " p[path]").each(function() {
						info_accessory.push($(this).attr("path"));
					});
					//获取网址数组
					$(formContainer + " p .info_urls").each(function() {
						var urlVal=$(this).text() || $(this).val();
						if(urlVal!=""){
							info_urls.push(urlVal);
						}
						//alert(info_urls);
					});
					infoData.attachment_arr = info_accessory;
					infoData.information_urls = info_urls;
					infoData.is_publish = status;
					return infoData;
				}
				//提交数据
				function postData(response, status) {
					if(response.code == 0) {
						//success
						$("#" + modalId).modal('hide');
						if(status == "0") {
							$.showSuccessGritter(actionText + "资讯成功。");
						}
						$(grid_selector).reloadGrid();
						if(status == "1") {
							//提交审批
							openApprovalPostPop(response.data.information_id, "publish");
						}
					} else {
						$.showErrorGritter("保存资讯失败：" + response.msg);
					}
				}
			}
			//加载附件
			function loadInformationAccessory(modalId, id) {
				var formContainer = "#" + modalId + " .model-info";
				if(modalId) {
					var infoDetailsUrl = BSAPIURL + "/companies/" + COMPANYID + "/informations/" + (id ? id : $(grid_selector).getSelectRowIdsForjqGrid("id"));
					$.ajaxGet(infoDetailsUrl, function(response) {
						var infoDetailsdata = response.data.information_info;
						var attachment = infoDetailsdata.attachment_arr;
						var infoUrl = infoDetailsdata.information_urls;
						for(var x = 0; x < attachment.length; x++) {
							$("#btnUploadAnx").after("<p class='info-filename close-icon-container' bind='info_accessory' path=" + attachment[x].attachment_reference + "><span class='form-control'>" + attachment[x].file_display_name + "</span><img class='close-icon' src='../resources/images/filter-close.png' onclick='$(this).parent().remove()'/></p>");
						}
						for(var i in infoUrl) {
							$(formContainer + " .info-btnaddurl").after("<p class='info-urls-container close-icon-container'><input type=\"text\" class=\"form-control info_urls\" value='" + infoUrl[i] + "' placeholder=\"添加网址\" /><img class='close-icon' src='../resources/images/filter-close.png' onclick='$(this).parent().remove()'/></p>");
						}
					});
				}
			}

			//上传附件
			function uploadAccessory(formContainer) {
				$(formContainer + " .btn-upload-anx").attr("id", "btnUploadAnx");
				$("#btnUploadAnx").initUploader({
					url: SAASAPIS.BS.upload.document,
					up_container: formContainer + " .upload",
					FilesAdded: function(up, files) {
						return true;
					},
					FileUploaded: function(up, file, response) {
						var resp = JSON.parse(response.response);
						if(resp.code == 0) {
							var filesId = resp.data.id;
							var filesName = resp.data.name;
							$("#btnUploadAnx").after("<p class='info-filename close-icon-container' bind='info_accessory' path=" + filesId + "><span class='form-control'>" + filesName + "</span><img class='close-icon' src='../resources/images/filter-close.png' onclick='$(this).parent().remove()'/></p>");
						} else {
							$.showErrorGritter("上传失败：" + resp.msg);
						}
					}
				});
			}
			//初始化编辑器
			function initializEeditor(modalId) {
				var formContainer = "#" + modalId + " .model-info";
				var tmpId = $.uuid();
				$(formContainer + ' .form-control-content').attr("id", tmpId);
				editor = KEditor.create("#" + tmpId, {
					minWidth: '400px',
					resizeType: 1,
					allowPreviewEmoticons: false,
					allowImageUpload: false,
					items: [
						'fontname', 'fontsize', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'|', 'justifyleft', 'justifycenter', 'justifyright','|', 'image', '|', 'fullscreen'
					],
					afterCreate: function(editor) {
						$(formContainer + " .ke-container").css("width", "400px").css("display", "inline-block");
						$(formContainer + " .ke-container").css("width", "400px").css("display", "inline-block");
						//绑定上传图片事件
						$("#" + modalId + " .ke-container .ke-outline[data-name=image]").unbind("click");
						$("#" + modalId + " .ke-container .ke-outline[data-name=fullscreen]").click(function(){
							setTimeout(function(){
								$(".ke-container .ke-outline[data-name=image]").unbind("click");
								uploadImage($(".ke-container .ke-outline[data-name=image]"), editor);
							},100);
						});
						uploadImage($("#" + modalId + " .ke-container .ke-outline[data-name=image]"), editor);
					}
				});
			}
			//删除上传
			function infoUploaddel(obj) {
				var x = obj.parentNode.parentNode;
				var y = obj.parentNode;
				x.removeChild(y);
			}

			function uploadImage(dom) {
				dom.click(function(){
					return false;
				});
				dom.attr("id", "uploadimg");
				$("#uploadimg").initUploader({
					url: SAASAPIS.BS.upload.image,
					//up_container: formContainer + " .upload",
					FilesAdded: function(up, files) {
						return true;
					},
					FileUploaded: function(up, file, response) {
						var resp = JSON.parse(response.response);
						if(resp.code == 0) {
							console.log(resp.data)
							var filesId = resp.data.id;
							var filesName = resp.data.name;
							console.log(editor);
							editor.insertHtml("<img src='" + resp.data.path + "' style=\"display:block;margin:0 auto;\" data-ke-src='" + resp.data.path + "'>");
							//$("#uploadimg").after("<p class='info-filename' bind='info_accessory' path=" + filesId + ">" + filesName + "<a href='#' onclick='infoUploaddel(this)'><i class='fa fa-times-circle-o' aria-hidden='true'></i></a></p>");
						} else {
							$.showErrorGritter("上传失败：" + resp.msg);
						}
					}
				});
			}
			//网址验证
			function testUrl(url) {
				var strRegex = "^((https|http|ftp|rtsp|mms)?://)" +
					"?(([0-9a-z_!~*'().&=+$%-]+: )?[0-9a-z_!~*'().&=+$%-]+@)?" // ftp的user@
					+
					"(([0-9]{1,3}\.){3}[0-9]{1,3}" // IP形式的URL- 199.194.52.184
					+
					"|" // 允许IP和DOMAIN（域名）
					+
					"([0-9a-z_!~*'()-]+\.)*" // 域名- www.
					+
					"([0-9a-z][0-9a-z-]{0,61})?[0-9a-z]\." // 二级域名
					+
					"[a-z]{2,6})" // first level domain- .com or .museum
					+
					"(:[0-9]{1,4})?" // 端口- :80
					+
					"((/?)|" // a slash isn't required if there is no file name
					+
					"(/[0-9a-z_!~*'().;?:@&=+$,%#-]+)+/?)$";
				var re = new RegExp(strRegex);
				if(url != "" && re.test(url)) {
					return true;
				} else {
					$.showErrorGritter("网址：" + url + "输入不正确");
					return false;
				}
			}
			//预览
			function preview() {
				if(!$(infoGrid).isSelectedRowForjqGrid()) {
					$.showErrorGritter("请先选择要预览的资讯。");
					return false;
				}
				var rowData = $(infoGrid).jqGrid('getRowData', infoGrid.jqGrid('getGridParam', 'selrow'));
				console.log(rowData);
				if(rowData.information_status == 2 || rowData.information_status == 4) {
					//公示中
					$.showErrorGritter("发布中或者下架的资讯不能预览!");
					return false;
				}
				openNewPage(rowData.id);
			}
			//上架发布（完结）
			function infoOnrelease() {
				if(!$(infoGrid).isSelectedRowForjqGrid()) {
					$.showErrorGritter("请先选择要发布的资讯。");
					return false;
				}
				if($(infoGrid).isSelectedMultipleRowForjqGrid()) {
					$.showErrorGritter("一次只能发布一条资讯，请重新选择。");
					return false;
				}
				var rowData = $(infoGrid).jqGrid('getRowData', infoGrid.jqGrid('getGridParam', 'selrow'));
				if(rowData.information_status == 1) {
					//共享中
					$.showErrorGritter("此资讯正在审批中，请等待审批结果。");
					return false;
				} else if(rowData.information_status == 2) {
					//共享中
					$.showErrorGritter("此资讯已发布，不能再次发布。");
					return false;
				}
				/*else if(rowData.information_status == 4) {
					$.showErrorGritter("此资讯已下架，不能再次发布。");
					return false;
				}*/

				//提交审批
				openApprovalPostPop(rowData.id, "putaway");
				return false;

			}
			//审批
			function openApprovalPostPop(id, type) {
				var remind = "";
				$.showApprovalPostPop({
					routine: "informationPublish",
					successCallback: function(apvData, apvModal) {
						console.log(arguments);
						var postApvData = {};
						if(apvData.needApv) {
							postApvData = {
								plan_id: apvData.planId,
								diy_step_data: apvData.steps
							}
							$.ajaxPost(infoApprovalUrl.replace("{id}", id), postApvData, function(response) {
								if(response.code == 0) {
									//success									
									$.showSuccessGritter("资讯发布审批已提交，请等待审批结果。");
									$(infoGrid).reloadGrid();
									apvModal && apvModal.modal("hide");
									//apvModal.modal("hide");
								} else {
									$.showErrorGritter("资讯发布失败：" + response.msg);
								}
							});
						} else {
							if(type == "putaway") {
								submitData({
									information_ids: id,
									information_status: 1
								}, "上架");
							} else {
								$.showSuccessGritter("资讯发布成功");
							}
							return false;
						}
					}
				});
			}

			function bindSelectedModules(formContainer, rowData) {
				var module_ids = rowData.module_ids.split(',');
				for(var i in module_ids) {
					$(formContainer + " .treeMenu p input[value='" + module_ids[i].toString() + "']").attr("checked", "checked");
				}
			}
			//删除（完结）
			//delete module
			function deleteModels() {
				if(!$(infoGrid).isSelectedRowForjqGrid()) {
					$.showErrorGritter("请先选择要删除的资讯。");
					return false;
				}
				var infoRowsIndex = $(grid_selector).jqGrid('getGridParam', 'selarrrow');
				var infoNotPass = [];
				for(var i = 0; i < infoRowsIndex.length; i++) {

					var rowData = $(grid_selector).jqGrid('getRowData', infoRowsIndex[i]);
					if(rowData.information_status == "2") {
						$.showErrorGritter("资讯”" + rowData.information_title + "”,处于发布中，不能直接删除！");
						return false;
					}
					if(rowData.information_status == "1") {
						infoNotPass.push(rowData.information_title);
					}
				}
				if(infoNotPass.length == 0) {
					$.modal().confirm("你将删除选择的资讯，其中包括发布中的资讯，删除后不能恢复，确认删除吗？", function() {
						var selRowsIndex = $(grid_selector).jqGrid('getGridParam', 'selarrrow');
						if(selRowsIndex.length > 0) {
							var selectRowIds = $(grid_selector).getSelectRowIdsForjqGrid("id");
							submitData({
								information_ids: selectRowIds,
								information_status: 99
							}, "删除");
						}
					});
				} else {
					$.showErrorGritter(infoNotPass + "不能删除！请重新选择");
				}
			}
			//下架(完结)
			function UnShelve() {
				if(!$(infoGrid).isSelectedRowForjqGrid()) {
					$.showErrorGritter("请先选择要下架的资讯。");
					return false;
				}
				var infoRowsIndex = $(grid_selector).jqGrid('getGridParam', 'selarrrow');
				var infoNotPass = [];
				for(var i = 0; i < infoRowsIndex.length; i++) {
					var rowData = $(grid_selector).jqGrid('getRowData', infoRowsIndex[i]);
					if(rowData.information_status != "2") {
						infoNotPass.push(rowData.information_title);
					}
				}
				if(infoNotPass.length == 0) {
					$.modal().confirm("你确定下架资讯？", function() {
						var selRowsIndex = $(grid_selector).jqGrid('getGridParam', 'selarrrow');
						if(selRowsIndex.length > 0) {
							var selectRowIds = $(grid_selector).getSelectRowIdsForjqGrid("id");
							//alert(selectRowIds);
							submitData({
								information_ids: selectRowIds,
								information_status: 4
							}, "下架");
						}

					});
				} else {
					$.showErrorGritter(infoNotPass + "不能下架！请重新选择");
				}
			}
			//更改状态提交数据
			function submitData(data, action) {
				$.ajaxPut(infoUrlStatusList, data,
					function(response) {
						if(response.code == 0) {
							//success
							$.showSuccessGritter(action + "资讯成功。");
							$(grid_selector).reloadGrid();
						} else if(response.code > 0) {
							$.showErrorGritter(action + "资讯失败：" + response.msg);
						}
					});
			}

			function initModuleTree(formContainer) {
				for(var i in modulesJSON) {
					var mu = modulesJSON[i];
					if(mu.module_parent_id == "") {
						$(formContainer + " .treeMenu").append("<p mid='" + mu.module_id + "'><input id='ck" + mu.module_id + "' type='checkbox' value='" + mu.module_id + "'/> <label for='ck" + mu.module_id + "'>" + mu.module_name + "</label></p>");
						appendTreeNode(formContainer, mu.module_id);
					}
				}
				$(formContainer + " .treeMenu p input").change(function() {
					var mchecked = this.checked;
					if(mchecked) {
						$(this).parent().find("input:checkbox").each(function() {
							this.checked = true;
						});
					} else {
						$(this).parent().find("input:checkbox").attr("checked", false);
					}
					var pid = $(this).attr("pid");
					if(pid) {
						$("#ck" + pid).each(function() {
							if(this.checked && $(this).parent().find("input[id!=ck" + pid + "]:checked").length > 0) {
								return false;
							}
							this.checked = mchecked;
							pid = $(this).attr("pid");
							if(pid) {
								$("#ck" + pid).each(function() {
									this.checked = mchecked;
								});
							}
						});
					}
				});
			}
			//tree node
			function appendTreeNode(formContainer, pid) {
				for(var i in modulesJSON) {
					var mu = modulesJSON[i];
					if(mu.module_parent_id == pid) {
						$(formContainer + " .treeMenu p[mid='" + pid + "']").append("<p mid='" + mu.module_id + "' style='padding-left:20px;'><input id='ck" + mu.module_id + "' pid='" + pid + "' type='checkbox' value='" + mu.module_id + "'/> <label for='ck" + mu.module_id + "'>" + mu.module_name + "</label></p>");
						appendTreeNode(formContainer, mu.id);
					}
				}
			}
		</script>
	</body>

</html>