<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8" />
		<title>个人中心</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../resources/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="../resources/css/jquery.gritter.css" />
		<link rel="stylesheet" href="../resources/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../resources/css/city-picker.css" />
		<link rel="stylesheet" href="../resources/css/datepicker.css" />
		<link rel="stylesheet" href="../resources/css/main-page.css" />
		<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
		<style>
			.model-changemobile .form-inline label,
			.model-resetpwd .form-inline label {
				width: 80px;
				text-align: right;
			}
		</style>
	</head>

	<body>
		<div class="page-container page-company page-user-center">
			<div class="remark">
				<i class="fa fa-list-ol fa-2x"></i><span>*管理员帐号安全管理</span>
			</div>
			<div class="content">
				<div class="form-group-line">
					<label>帐号安全：</label>
					<hr>
				</div>
				<div class="form-group form-inline">
					<label>手机号码：</label>
					<span class="form-control form-control-noborder form-control-oldmobile" bind="employee_primary_mobile" style="width: 200px;">13000000000</span>
					<span class="form-control form-control-noborder"><a href="javascript:;" onclick="openChangeMobilePop();">修改手机号</a></span>
				</div>
				<div class="form-group form-inline">
					<label>帐号密码：</label>
					<span class="form-control form-control-noborder" style="width: 200px;">********</span>
					<span class="form-control form-control-noborder"><a href="javascript:;" onclick="openResetPwdPop();">修改密码</a></span>
				</div>
			</div>
		</div>
		<div class="pnl-changemobile hide">
			<form class="form-horizontal model-changemobile company-auth-info">
				<div class="form-group form-inline form-group-oldmobile">
					<label class="form-label-type">原手机号：</label>
					<span class="form-control" bind="number"></span>
				</div>
				<div class="form-group form-inline form-group-newmobile hide">
					<label class="form-label-type">新手机号：</label>
					<input type="text" class="form-control form-control-newmobile" placeholder="输入要更换的新手机" bind="newnumber" maxlength="11">
				</div>
				<div class="form-group form-inline">
					<label>图像验证：</label>
					<input type="text" class="form-control form-control-imgcode" placeholder="输入右侧验证码" bind="imgcode" maxlength="6"><img class="img-code" src="../resources/images/code.jpg" title="点击更换验证码" onclick="initVerifyCode();" />
				</div>
				<div class="form-group form-inline">
					<label class="form-label-type-code">验证码：</label>
					<input type="text" class="form-control form-control-code" bind="code" nulltip="验证码" style="width: 170px; margin-right: 4px;" maxlength="6">
					<a href="javascript:;" class="btn btn-success btn-sendcode" enb="1">发送验证码</a>
				</div>
			</form>
		</div>
		<div class="pnl-resetpwd hide">
			<form class="form-horizontal model-resetpwd">
				<div class="form-group form-inline">
					<label class="input-flag">原密码：</label>
					<input id="txtOldPwd" type="password" class="form-control" placeholder="原密码" nulltip="原密码" maxlength="20">
				</div>
				<div class="form-group form-inline">
					<label class="input-flag">新密码：</label>
					<input id="txtPwd" type="password" class="form-control" placeholder="新密码" nulltip="新密码" maxlength="20" valitype="password" valirange="6-20" valitip="密码长度为 6-20 位。">
				</div>
				<div class="form-group form-inline">
					<label class="input-flag">确认密码：</label>
					<input id="txtPwd1" type="password" class="form-control" placeholder="确认密码" nulltip="确认密码" maxlength="20">
				</div>
			</form>
		</div>
		<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
		<script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../resources/js/jquery.gritter.min.js"></script>
		<script type="text/javascript" src="../resources/js/bootstrap-treeview.js"></script>
		<script type="text/javascript" src="../resources/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="../resources/js/city-picker.data.js"></script>
		<script type="text/javascript" src="../resources/js/city-picker.js"></script>
		<script type="text/javascript" src="../resources/upload/plupload.full.min.js"></script>
		<script type="text/javascript" src="../resources/js/main.min.js"></script>
		<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=534a6946f3345a0d3cc18a544ccaa8cb"></script>-->
		<script type="text/javascript">
			var CODETYPE = "changemobile";
			var formSelector = ".form-user-info";
			var userController = new Controller(formSelector);
			//手机号
			var myMobile;
			window.onload=function(){
				var script = document.createElement("script");
				script.src = "http://api.map.baidu.com/api?v=2.0&ak=tBjsnSuzhKrdsAL1oqEQ1hIG&callback=doApi";
				$("body").append(script);
			};
			$(document).ready(function() {
				//loading
				$.showLoadingPop("正在加载个人信息，请稍后...");
				//token
				$.token();
				//加载个人信息
				loadUserInfo();
			});
			//加载个人信息
			function loadUserInfo() {
				$.ajaxGet(SAASAPIS.BS.account.security_info, function(response) {
					if(response.code != 0) {
						$.showErrorGritter("加载个人信息失败：" + response.msg)
							//hide
						$.hideLoadingPop();
						return false;
					}
					myMobile = response.data.mobile;
					$(".form-control-oldmobile").text(myMobile);
					//hide
					$.hideLoadingPop();
				});
			}
			//修改手机
			function openChangeMobilePop() {
				var authNumber = myMobile;
				//first
				var verNewMobile = false;
				var oldMobile = authNumber;
				var modalId = $.modal().showOfMini("修改手机号", ".pnl-changemobile",
					function(modal) {
						var authData = authController.getJSON();
						//to save
						if(verNewMobile) {
							if(!mobileValidate(authData.newnumber)) {
								$.showSuccessGritter("新手机号码格式有误，请重新录入。", {
									clear: true
								});
								$(formContainer + " .form-control-newmobile").focus();
								return false;
							}
							authNumber = authData.newnumber;
						}
						if(!inputValidateForGritter(formContainer)) {
							return false;
						}
						var postData = {
							mobile: authNumber,
							sms_code: authData.code,
							sms_code_type: CODETYPE
						};
						if(verNewMobile) {
							$.ajaxPut(SAASAPIS.BS.account.mobile.step3, postData,
								function(response) {
									if(response.code == 0) {
										myMobile = authNumber;
										$(".form-control-oldmobile").text(myMobile);
										//success
										$.showSuccessGritter("修改手机号码成功。", {
											clear: true
										});
										modal.modal('hide');
										resetSendCodeBtn();
									} else {
										$.showErrorGritter("验证新手机失败：" + response.msg);
									}
								});
						} else {
							//第一步 验证原手机
							$.ajaxPut(SAASAPIS.BS.account.mobile.step1, postData,
								function(response) {
									if(response.code == 0) {
										$.clearGritter();
										$.showSuccessGritter("原手机验证成功，请验证新手机。", {
											clear: true
										});
										verNewMobile = true;
										resetSendCodeBtn();
										$(formContainer + " .form-group-newmobile," + formContainer + " .form-group-oldmobile").toggleClass("hide");
										initVerifyCode();
										$(formContainer + " .form-control-code").val("");
										$(formContainer + " .form-control-newmobile").focus();
										//新手机号码验证
										$(formContainer + " .form-control-newmobile").keyup(function() {
											var newMobile = $(this).val();
											if(mobileValidate(newMobile)) {
												$.ajaxPut(SAASAPIS.BS.account.mobile.step2, {
													new_mobile: newMobile
												}, function(response2) {
													if(response2.code == 0) {
														//ok
													} else {
														$.showErrorGritter("验证新手机失败：" + response2.msg);
													}
												});
											}
										});
									} else {
										$.showErrorGritter("验证失败：" + response.msg);
									}
								});
						}
					}
				);
				//model pop id
				var formContainer = "#" + modalId + " .model-changemobile";
				var rowData = {
					number: authNumber
				};
				var authController = new Controller(formContainer);
				authController.set(rowData);
				//code
				var codeTimer = null;
				var resetSendCodeBtn = function() {
					var linkSendCode = $(formContainer + " .btn-sendcode");
					linkSendCode.removeAttr("disabled");
					linkSendCode.addClass("act").attr("enb", "1").text("发送验证码");
					clearInterval(codeTimer);
				}
				$(formContainer + " .btn-sendcode").click(function() {
					if(verNewMobile) {
						authNumber = authController.getJSON().newnumber;
						if(!mobileValidate(authNumber)) {
							$.showSuccessGritter("新手机号码格式有误，请重新录入。", {
								clear: true
							});
							$(formContainer + " .form-control-newmobile").focus();
							return false;
						}
					}
					var captcha_code = $(formContainer + " .form-control-imgcode").val();
					if(!captcha_code) {
						$.clearGritter();
						$.showErrorGritter("请输入右侧的图像验证码。");
						$(formContainer + " .form-control-imgcode").focus();
						return false;
					}
					//authNumber
					var linkSendCode = $(this);
					$.ajaxGet(SAASAPIS.BASE.code.sms + $.toQueryString({
						type: CODETYPE,
						mobile: authNumber,
						captcha_type: CODETYPE,
						captcha_code: captcha_code
					}, true), function(response) {
						if(response.code != 0) {
							$.showErrorGritter("获取手机验证码失败：" + response.msg, {
								time: 3000
							});
						} else {
							if(linkSendCode.attr("enb") != "1") {
								return;
							}
							linkSendCode.removeClass("act").attr("enb", "0").attr("disabled", "disabled");
							var ss = 60;
							codeTimer = setInterval(function() {
								if(ss > 0) {
									ss--;
									linkSendCode.text("获取(" + ss + "s)");
								} else {
									linkSendCode.removeAttr("disabled");
									linkSendCode.addClass("act").attr("enb", "1").text("发送验证码");
									resetSendCodeBtn();
								}
							}, 1000);
						}
					});
				});
				//img code
				initVerifyCode();
			}
			//修改密码
			function openResetPwdPop() {
				var modalId = $.modal().showOfMini("修改密码", ".pnl-resetpwd",
					function(modal) {
						if(!inputValidateForGritter(formContainer)) {
							return false;
						}
						var oldPwd = $(formContainer + " #txtOldPwd").val();
						var pwd = $(formContainer + " #txtPwd").val();
						var pwd1 = $(formContainer + " #txtPwd1").val();
						if(pwd.length < 6 || pwd1.length < 6) {
							$.showErrorGritter("密码长度至少6位。", {
								clear: true
							});
							return false;
						}
						if(pwd != pwd1) {
							$.showErrorGritter("两次密码输入不一致，请重新输入。", {
								clear: true
							});
							$(formContainer + " #txtPwd1").focus();
							return false;
						}
						var pwdData = {
							old_password: oldPwd,
							new_password: pwd
						};
						$.ajaxPut(SAASAPIS.BS.account.password, pwdData,
							function(response) {
								if(response.code == 0) {
									//success
									$.showSuccessGritter("修改密码成功，返回重新登录。");
									modal.modal('hide');
								} else {
									$.showErrorGritter("修改密码失败：" + response.msg);
								}
							});
					}
				);
				//model pop id
				var formContainer = "#" + modalId + " .model-resetpwd";
			}

			function initVerifyCode() {
				$(".img-code").attr("src", SAASAPIS.BASE.captcha + "?height=32&width=110&type=" + CODETYPE + "&t=" + new Date().getTime());
				$(".form-control-imgcode").val("");
			}
		</script>
	</body>

</html>