<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8" />
		<title>版本管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../resources/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="../resources/css/jquery.gritter.css" />
		<link rel="stylesheet" href="../resources/css/ui.jqgrid.css" />
		<link rel="stylesheet" href="../resources/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../resources/css/main-page.css" />
	</head>

	<body>
		<div class="page-container">
			<div class="remark">
				<i class="fa fa-list-ol fa-2x"></i><span>*产品版本管理，可添加、编辑、删除版本以及停/开售版本，可设置版本为“新品”，“推荐”，“热销”</span>
			</div>
			<div class="content">
				<div class="edition-list">
					<table id="grid-table" class="grid-module">
					</table>
					<div id="grid-pager">
					</div>
				</div>
			</div>
		</div>
		<div class="pnl-info hide">
			<form class="form-horizontal model-info">
				<div class="form-group form-inline">
					<label class="input-flag">版本名称</label>
					<input type="text" class="form-control edition-name" placeholder="版本名称" bind="edition_name" nulltip="版本名称" maxlength="8">
				</div>
				<div class="form-group form-inline">
					<label class="input-flag">版本类型</label>
					<label><input type="radio" value="0" name="rdType" bind="edition_type" class="form-control-radio form-control-etype" disabled="disabled">试用版</label>
					<label><input type="radio" value="1" name="rdType" bind="edition_type" class="form-control-radio form-control-etype" checked="checked" disabled="disabled">正式版</label>
				</div>
				<div class="form-group form-inline">
					<label class="input-flag">价格</label>
					<input type="text" class="how-much form-control" placeholder="价格" bind="edition_price" data-type="float|2" nulltip="价格" style="width: 340px;" maxlength="7">
					<span>元/用户/月</span>
				</div>
				<div class="form-group form-inline">
					<label class="input-flag">功能描述</label>
					<textarea class="form-control" bind="edition_desc" maxlength="100" nulltip="功能描述"></textarea>
				</div>
				<div class="form-group form-inline">
					<label class="input-flag">版本图片</label>
					<button type="button" class="btn btn-default btn-sm btn-upload">上传图片</button>
					<p style="padding-left: 85px; padding-top: 3px; color: #999;" class="pnl-img">
					</p>
				</div>
				<div class="form-group form-inline">
					<table border="0">
						<tr>
							<td class="input-flag" style="width: 85px; padding-right: 5px; text-align: center; border-right: 1px solid #eee;" valign="top">
								<span class="label-tt">功能模块</span>
							</td>
							<td style="padding-left: 15px;">
								<div class="tree tree-selectable treeMenu">
								</div>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		<div class="pnl-modules hide">
			<form class="form-horizontal model-modules">
				<div class="form-group form-inline">
					<table border="0">
						<tr>
							<td style="width: 90px; text-align: center; border-right: 1px solid #eee;" valign="top">
								模块
							</td>
							<td style=" padding-left: 15px;">
								<div class="tree tree-selectable treeMenu">
								</div>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		<div class="pnl-edition-tags hide">
			<form class="form-horizontal model-edition-tags">
				<div class="form-group form-inline">
					<label class="input-flag">是否设置为<span class="label-tag">推荐</span>？</label>
					<label><input type="radio" name="auth" checked="checked" class="form-control-radio" value="1"> 是</label>
					<label><input type="radio" name="auth" class="form-control-radio" value="0"> 否</label>
				</div>
			</form>
		</div>
		<div id="grid-footer-container" class="hide">
			<a class="btn btn-sm btn-info" onclick="openModelInfo('add');" role-auth="os/saas_editions|post"><i class="fa fa-plus"></i> 添加版本</a>
			<a class="btn btn-sm btn-danger" onclick="openModelInfo('update');" show-on="singleselect" role-auth="os/saas_editions/0|put"><i class="fa fa-edit"></i> 编辑</a>
			<a class="btn btn-sm btn-danger" show-on="multiselect" onclick="setDisable(1);" role-auth="os/saas_editions/sale_status|put"><i class="fa fa-unlock"></i> 开始销售</a>
			<a class="btn btn-sm btn-danger" show-on="multiselect" onclick="setDisable(0);" role-auth="os/saas_editions/sale_status|put"><i class="fa fa-lock"></i> 停止销售</a>
			<a class="btn btn-sm btn-danger" show-on="multiselect" onclick="setTag(1,'new');" role-auth="os/saas_editions/tags|put"><i class="fa fa-leaf"></i> 设为新品</a>
			<a class="btn btn-sm btn-danger" show-on="multiselect" onclick="setTag(2,'recommend');" role-auth="os/saas_editions/tags|put"><i class="fa fa-thumbs-o-up"></i> 设为推荐</a>
			<a class="btn btn-sm btn-danger" show-on="multiselect" onclick="setTag(3,'hot');" role-auth="os/saas_editions/tags|put"><i class="fa fa-fire"></i> 设为热销</a>
			<a class="btn btn-sm btn-danger" show-on="multiselect" onclick="deleteModels();" role-auth="os/saas_editions|delete"><i class="fa fa-trash"></i> 删除</a>
		</div>
		<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
		<script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../resources/js/jquery.gritter.min.js"></script>
		<script type="text/javascript" src="../resources/js/jquery.jqGrid.min.js"></script>
		<script type="text/javascript" src="../resources/js/grid.locale-zh.js"></script>
		<script type="text/javascript" src="../resources/js/bootstrap-treeview.js"></script>
		<script type="text/javascript" src="../resources/upload/plupload.full.min.js"></script>
		<script type="text/javascript" src="../resources/js/main.min.js"></script>
		<script type="text/javascript">
			var grid_selector = "#grid-table";
			var pager_selector = "#grid-pager";
			var modulesJSON = [];
			$(document).ready(function() {
				//token
				$.token();
				//grid
				//133 = remark 21(padding+border) + search margin-bottom 10 + pager height 55 + table header 37 + body padding 10 + content margin-top 10;
				var gridHeight = $(window).height() - $(".remark").height() - $(".search").height() - 153;
				//alert($(".remark").height());
				var colNames = ['', '', '', '', '', '', '', '', '版本名称', '版本类型', '功能概述', '价格(元/用户/月)', '状态', '新上市', '推荐', '热销', '更新时间', '上架时间'];
				var colModel = [{
					name: 'id',
					index: 'id',
					hidden: true,
					formatter: function(cellvalue, options, rowObject) {
						try {
							return rowObject.edition_id;
						} catch(e) {
							return '';
						}
					}
				}, {
					name: 'edition_cover',
					index: 'edition_cover',
					hidden: true
				}, {
					name: 'edition_type',
					index: 'edition_type',
					hidden: true
				}, {
					name: "is_saled",
					index: "is_saled",
					hidden: true
				}, {
					name: 'edition_id',
					index: 'edition_id',
					hidden: true
				}, {
					name: 'edition_sell_state',
					index: 'edition_sell_state',
					hidden: true
				}, {
					name: '__module_ids',
					index: '__module_ids',
					hidden: true,
					formatter: function(cellvalue, options, rowObject) {
						try {
							if(cellvalue) {
								return cellvalue;
							}
							return JSON.stringify(rowObject.modules);
						} catch(e) {
							return '';
						}
					}
				}, {
					name: 'edition_name',
					index: 'edition_name',
					hidden: true
				}, {
					name: '__edition_name',
					index: '__edition_name',
					sortable: true,
					formatter: function(cellvalue, options, rowObject) {
						try {
							return "<a href='javascript:;' onclick=\"openModelInfo('update','" + rowObject.edition_id + "');\" role-auth=\"os/saas_editions/0|put\" role-auth-tip=\"你无权限修改版本信息。\">" + rowObject.edition_name + "</a>";
						} catch(e) {
							return '';
						}
					}
				}, {
					name: '__edition_type',
					index: '__edition_type',
					sortable: true,
					formatter: function(cellvalue, options, rowObject) {
						try {
							return rowObject.edition_type == 0 ? "试用版" : "正式版";
						} catch(e) {
							return '';
						}
					}
				}, {
					name: 'edition_desc',
					index: 'edition_desc',
					sortable: true
				}, {
					name: 'edition_price',
					index: 'edition_price',
					sortable: true
				}, {
					name: 'edition_sell_state_cn',
					index: 'edition_sell_state_cn',
					sortable: true
				}, {
					name: 'edition_is_new_cn',
					index: 'edition_is_new_cn',
					sortable: true
				}, {
					name: 'edition_is_recommend_cn',
					index: 'edition_is_recommend_cn',
					sortable: true
				}, {
					name: 'edition_is_hot_cn',
					index: 'edition_is_hot_cn',
					sortable: true
				}, {
					name: 'edition_last_update_time_cn',
					index: 'edition_last_update_time_cn',
					sortable: false,
					formatter: function(cellvalue, options, rowObject) {
						try {
							return $.convertToDate(cellvalue).Format("yyyy-MM-dd");
						} catch(e) {
							return '';
						}
					}
				}, {
					name: 'edition_start_sell_time_cn',
					index: 'edition_start_sell_time_cn',
					sortable: false,
					formatter: function(cellvalue, options, rowObject) {
						try {
							return $.convertToDate(cellvalue).Format("yyyy-MM-dd");
						} catch(e) {
							return '';
						}
					}
				}];
				grid = $(grid_selector).initJqGrid({
					rowNum: 100,
					showPager: false,
					grid_selector: grid_selector,
					pager: pager_selector,
					url: SAASAPIS.OS.editions,
					colNames: colNames,
					colModel: colModel,
					height: gridHeight,
					sortname: "edition_start_sell_time",
					sortorder: "desc"
				});
			});
			//add and update
			function openModelInfo(action, id) {
				var actionText = (action == "add" ? "添加" : "修改");
				var modalId = $.modal().show(actionText + "版本", ".pnl-info",
					function(modal) {
						//to save
						if(!inputValidateForGritter(formContainer)) {
							return false;
						}
						//img
						var imgPath = $(formContainer + " .pnl-img").data("path");
						if(!imgPath) {
							$.showErrorGritter("请先上传版本图片。");
							return false;
						}
						var selectMenuIds = [];
						$(formContainer + " .treeMenu p input:checked").each(function() {
							selectMenuIds.push($(this).val());
						});
						if(selectMenuIds.length == 0) {
							$.showErrorGritter("请选择要分配的功能模块。");
							return false;
						}
						var editionData = editionController.getJSON();
						editionData.modules = selectMenuIds;
						editionData.edition_cover = imgPath;
						$.ajaxByAction(action, SAASAPIS.OS.editions + (action == "update" ? ("/" + editionData.edition_id) : ""), editionData,
							function(response) {
								if(response.code == 0) {
									//success
									$.showSuccessGritter(actionText + "版本成功。");
									modal.modal('hide');
									editionData.__edition_name = editionData.edition_name;
									editionData.__module_ids = JSON.stringify(selectMenuIds);
									editionData.edition_sell_state_cn = "已停售";
									$(grid).jqGrid(action == "add" ? "addRowData" : "setRowData", action == "update" ? editionData.edition_id : response.data, editionData);
									reloadGrid();
								} else {
									$.showErrorGritter("保存版本信息失败：" + response.msg);
								}
							});
					}
				);
				//model pop id
				var commonImgDom = "<img src='{s}' style='max-width:400px; max-height:200px;'>";
				var formContainer = "#" + modalId + " .model-info";
				//控制名称不能输入空格
				$(formContainer + " .edition-name").blur(function() {
					if((/\s\S/g).test($(this).val())){
						$.showErrorGritter("版本名称不能含有空格，请检查！");
						$(this).focus();
						return false;
					}
				});
				var rowData = {};
				var editionController = new Controller(formContainer);
				if(action == "update") {
					var rowIndex = $(grid_selector).getJqGridRowIndexByField("id", id) || $(grid_selector).jqGrid('getGridParam', 'selrow');
					if(!rowIndex) {
						return false;
					}
					rowData = $(grid_selector).jqGrid('getRowData', rowIndex);
				}
				//已有用户购买或下订单的版本不能修改价格.
				if(rowData.is_saled == "true") $(formContainer + " .how-much").attr("disabled", "disabled");
				editionController.set(rowData);
				//init module tree
				if(modulesJSON.length > 0) {
					initModuleTree(formContainer);
					//bind selected modules
					bindSelectedModules(formContainer, rowData);
				} else {
					$.ajaxGet(SAASAPIS.BS.modules + "?filter_admin=1", function(response) {
						modulesJSON = response.data.module_list;
						//init
						initModuleTree(formContainer);
						//bind selected modules
						bindSelectedModules(formContainer, rowData);
					});
				}
				if(rowData.edition_cover) {
					$(formContainer + " .pnl-img").data("path", rowData.edition_cover);
					$(formContainer + " .pnl-img").html(commonImgDom.replace("{s}", rowData.edition_cover));
				}
				//上传
				var tmpUid = $.uuid();
				$(formContainer + " .btn-upload").attr("id", tmpUid);
				$("#" + tmpUid).initUploader({
					url: SAASAPIS.BS.upload.image,
					FileUploaded: function(up, file, response) {
						var resp = JSON.parse(response.response);
						if(resp.code == 0) {
							//success
							$(formContainer + " .pnl-img").data("path", resp.data.path);
							$(formContainer + " .pnl-img").html(commonImgDom.replace("{s}", resp.data.path));
						} else {
							$.showErrorGritter("上传图片失败：" + resp.msg);
						}
					}
				});
				$(formContainer + " .label-tt").dblclick(function() {
					$(formContainer + " .treeMenu p input").attr("checked", "checked");
				});
			}

			function bindSelectedModules(formContainer, rowData) {
				if(!rowData.__module_ids) {
					return;
				}
				var module_ids = JSON.parse(rowData.__module_ids);
				for(var i in module_ids) {
					$(formContainer + " .treeMenu p input[value='" + module_ids[i].toString() + "']").attr("checked", "checked");
				}
			}
			//delete module
			function deleteModels() {
				$.modal().confirm("你将删除选择的版本，删除后不能恢复，确认删除吗？", function() {
					var selRowsIndex = $(grid).jqGrid('getGridParam', 'selarrrow');
					if(selRowsIndex.length > 0) {
						$.ajaxDelete(SAASAPIS.OS.editions, {
								ids: $.getSelectRowIdsForjqGrid(grid, "edition_id")
							},
							function(response) {
								if(response.code == 0) { //success
									$.showSuccessGritter("删除版本成功。");
									//refresh data
									var len = selRowsIndex.length;
									for(var i = 0; i < len; i++) {
										$(grid).jqGrid("delRowData", $(grid).jqGrid('getGridParam', 'selrow'));
									}
								} else if(response.code > 0 && response.data.lists) {
									$.showErrorGritter("删除版本失败：删除的版本已有用户购买，不能删除。");
								} else {
									$.showErrorGritter("删除版本失败：" + response.msg);
								}
							});
					}
				});
			}

			function setDisable(state) {
				var status = state == 0 ? "已停售" : "销售中";
				var selRowsIndex = $(grid).jqGrid('getGridParam', 'selarrrow');
				if(selRowsIndex.length > 0) {
					var statusArr = $.getSelectRowIdsForjqGrid(grid, "edition_sell_state");
					/*if(statusArr.indexOf("0") >= 0 && state == 0) {
						$.showErrorGritter("已停售的版本不能进行停售操作。");
						return false;
					}*/
					/*if(statusArr.indexOf("1") >= 0 && state == 1) {
						$.showErrorGritter("销售中的版本不能进行开始销售操作。");
						return false;
					}*/
					$.ajaxPut(SAASAPIS.OS.edition.status, {
							ids: $.getSelectRowIdsForjqGrid(grid, "edition_id"),
							status: state
						},
						function(response) {
							if(response.code == 0) {
								//success
								$.showSuccessGritter((state == 0 ? "停售" : "开售") + " 版本成功。");
								//refresh data
								var len = selRowsIndex.length;
								for(var i = 0; i < len; i++) {
									var rowIndex = $(grid).jqGrid('getGridParam', 'selrow');
									$(grid).jqGrid("setRowData", rowIndex, {
										edition_sell_state_cn: status,
										edition_sell_state: state
									});
									$(grid).jqGrid("setSelection", rowIndex);
								}
							} else {
								$.showErrorGritter("修改状态失败：" + response.msg);
							}
						});
				}
			}

			function setTag(state, state_name) {
				var tagText = "";
				if(state == 1) {
					tagText = "新品";
				}
				if(state == 2) {
					tagText = "推荐";
				}
				if(state == 3) {
					tagText = "热销";
				}
				var selRowsIndex = $(grid).jqGrid('getGridParam', 'selarrrow');
				if(selRowsIndex.length > 0) {
					var modalId = $.modal().showOfMini("设置" + tagText, ".pnl-edition-tags",
						function(modal) {
							var tagVal = $(formContainer + " .form-control-radio:checked").val();
							$.ajaxPut(SAASAPIS.OS.edition.tags, {
									ids: $.getSelectRowIdsForjqGrid(grid, "edition_id"),
									type: state_name,
									value: tagVal
								},
								function(response) {
									if(response.code == 0) {
										//success
										$.showSuccessGritter("设置成功。");
										//refresh data
										modal.modal('hide');
										reloadGrid();
									} else {
										$.showErrorGritter("设置失败：" + response.msg);
									}
								});
						}
					);
					//model pop id
					var formContainer = "#" + modalId + " .model-edition-tags";
					$(formContainer + " .label-tag").text(tagText);
				}
			}

			function reloadGrid() {
				var url = SAASAPIS.OS.editions + "?status=";
				$("#grid-table").jqGrid('setGridParam', {
					page: 1,
					url: url
				}).trigger("reloadGrid", {});
			}

			function initModuleTree(formContainer) {
				for(var i in modulesJSON) {
					var mu = modulesJSON[i];
					mu.pid = mu.module_parent_id;
					mu.id = mu.module_id;
					mu.name = mu.module_name;
					if(mu.pid == "") {
						$(formContainer + " .treeMenu").append("<p mid='" + mu.id + "'><input id='ck" + mu.id + "' type='checkbox' value='" + mu.id + "'/> <label for='ck" + mu.id + "'>" + mu.name + "</label></p>");
						appendTreeNode(formContainer, mu.id);
					}
				}
				$(formContainer + " .treeMenu p input").change(function() {
					var mchecked = this.checked;
					if(mchecked) {
						$(this).parent().find("input:checkbox").each(function() {
							this.checked = true;
						});
					} else {
						$(this).parent().find("input:checkbox").attr("checked", false);
					}
					var pid = $(this).attr("pid");
					if(pid) {
						$("#ck" + pid).each(function() {
							if(this.checked && $(this).parent().find("input[id!=ck" + pid + "]:checked").length > 0) {
								return false;
							}
							this.checked = mchecked;
							pid = $(this).attr("pid");
							if(pid) {
								$("#ck" + pid).each(function() {
									this.checked = mchecked;
									//最多三级
									pid = $(this).attr("pid");
									if(pid) {
										$("#ck" + pid).each(function() {
											this.checked = mchecked;
										});
									}
								});
							}
						});
					}
				});
			}
			//tree node
			function appendTreeNode(formContainer, pid) {
				for(var i in modulesJSON) {
					var mu = modulesJSON[i];
					mu.pid = mu.module_parent_id;
					mu.id = mu.module_id;
					mu.name = mu.module_name;
					if(mu.pid == pid) {
						$(formContainer + " .treeMenu p[mid='" + pid + "']").append("<p mid='" + mu.id + "' style='padding-left:20px;'><input id='ck" + mu.id + "' pid='" + pid + "' type='checkbox' value='" + mu.id + "'/> <label for='ck" + mu.id + "'>" + mu.name + "</label></p>");
						appendTreeNode(formContainer, mu.id);
					}
				}
			}
		</script>
	</body>

</html>